html, body {height: 100%;}
body {
 margin:0;
 padding:0;
 display: flex;
 display: -webkit-flex;
 justify-content: center;
 align-items: center;
 -webkit-justify-content: center;
 -webkit-align-items: center;
}

.container{
	margin-top:5%
}

.alert-warning {
	color:RebeccaPurple;
}

.alert-warning strong {
	color:Red;
}
	
.errori {
	color:Yellow;
	margin-top:-10px;
	margin-bottom: 10px;
}

.text-danger {
	color:Yellow;
}