body 
{
	background-color: RebeccaPurple;
	background-image: url("https://pre00.deviantart.net/47a1/th/pre/i/2015/177/1/2/lulu_and_bard_by_dakun87-d8ysub2.jpg"); 
	background-position: 50% 85%;
	background-size: cover; 
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover; /* per garantire compatibilità cross-browser */
	-moz-background-size: cover; 
	-o-background-size: cover; 
}

a { color: blue;}

 ul {
    display: inline-block;
    text-align: left;
    padding: 0;
}

/*input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
} */
.well 
{ 
	background-color:rgba(70, 17, 81, 0.5);
	border-style: solid;
    border-radius: 30px;
        color: white;
        font-family: "Georgia", Monaco, monospace; 
	font-size: 18px;
}
.squared
{
	border-radius:5px;
}
.circled
{
	border-radius:100px;
}
.well a {  color: #1E90FF; }

#important
{
  color: white;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: white;
}

 .well tr:hover {background-color: #DCDCDC;}

  
.navbar {
    padding-top: 7px;
	padding-right: 7px;
    margin-bottom: 20px;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.95;

}

.navbar-brand {
margin-top: -18px;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
	text-shadow: 1px 1px 2px RebeccaPurple, 0 0 25px RebeccaPurple, 0 0 5px RebeccaPurple;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: red !important;
}  

  @media (max-width: 600px) {
	.navbar-brand img {
      content:url("https://i.imgur.com/cS09NaU.png");
	  margin-top: 4px;
	  margin-left: 3px;
	}
  }